annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1696634205638/work
autocommand @ file:///home/conda/feedstock_root/build_artifacts/autocommand_1668889999064/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001724357/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
cheroot @ file:///home/conda/feedstock_root/build_artifacts/cheroot_1685308176832/work
CherryPy @ file:///home/conda/feedstock_root/build_artifacts/cherrypy_1695824172011/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1708780250343/work
docopt==0.6.2
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1711394622191/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1710808267764/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1711468615105/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1701026962277/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
inflect @ file:///home/conda/feedstock_root/build_artifacts/inflect_1688488794948/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1707378080076/work
jaraco.collections @ file:///home/conda/feedstock_root/build_artifacts/jaraco.collections_1702145854559/work
jaraco.context @ file:///home/conda/feedstock_root/build_artifacts/jaraco.context_1675258691127/work
jaraco.functools @ file:///home/conda/feedstock_root/build_artifacts/jaraco.functools_1701695162614/work
jaraco.text @ file:///home/conda/feedstock_root/build_artifacts/jaraco.text_1701158384896/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1704738417589/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225376651/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=d08e1c9e5833ae7780563812aa73e2497db1ee3bd5510d3becb8aa18aa2d0c7c
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1708708634263/work
portend @ file:///home/conda/feedstock_root/build_artifacts/portend_1687934878150/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1710622263606/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1708700663988/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1706660063483/work
PySimpleGUI @ file:///home/conda/feedstock_root/build_artifacts/pysimplegui_1684995683167/work
PySimpleGUIWeb @ file:///home/conda/feedstock_root/build_artifacts/pysimpleguiweb_1591656539037/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373611984/work
remi @ file:///home/conda/feedstock_root/build_artifacts/remi_1661010649615/work
repoze.lru==0.7
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
Routes @ file:///home/conda/feedstock_root/build_artifacts/routes_1604230639459/work
simplejson @ file:///home/conda/feedstock_root/build_artifacts/simplejson_1696595885104/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tempora @ file:///home/conda/feedstock_root/build_artifacts/tempora_1708369761869/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1707598593068/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1708904622550/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
zc.lockfile @ file:///home/conda/feedstock_root/build_artifacts/zc.lockfile_1678092336663/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
